NEXT_PUBLIC_SUPABASE_URL=https://jczsiymkqchqnetivcme.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpjenNpeW1rcWNocW5ldGl2Y21lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2MzA5NDIsImV4cCI6MjEwMjIwNjk0Mn0.t-WZipjMvYimnIXJKxKGVtwm1vbEkkUmBpYdqM7VzxQ
